@tailwind preflight;

/* Here we can add any custom overrides */

@tailwind utilities;

/* Here we can add our own utilities or custom CSS */

@import '~@fortawesome/fontawesome-free/css/all.min.css';

.field {
    @apply .border .py-2 .px-3 .text-grey-darkest .resize-none;
}

.field-label {
    @apply .uppercase .font-bold .text-lg .text-grey-darkest .mb-2 ;
}

.field-group {
    @apply .flex .flex-col;
}

.link {
    @apply .block .no-underline .text-sm;
}
.panel{
    @apply .block .bg-white .shadow-lg .border-t-2 .border-l-2 .border-b-4 .border-r-4 .border-grey-light .rounded-sm;
}


.post{
    @apply  .bg-white .shadow-lg .border-t-2 .border-l-2 .border-b-4 .border-grey-light;
}

.page-content{
    @apply .w-5/6 .mx-auto;
}

.profile-image{
    @apply .rounded-full  border bg-black;
}

.timeline-button{
    @apply text-lg font-bold;
    cursor: pointer;
}
.active{
    @apply border-b-4 border-teal ;
}

.timeline-button .active{
    @apply border-b-4 shadow border-teal;
}

button:focus {outline:0;}


.reaction-bar{
    bottom:0%;
    position: fixed;
    z-index: 10;
    margin-left: -1.1em;
    margin-right: -1.5em;
}
.reactButton img{
    width: 32px;
    height: 32px;
}
.reactButton{
@apply shadow-lg border-2   rounded-full text-white;
}

.edit-button{
    @apply .bg-orange .border-2 .border-black .rounded .uppercase;
}

.tag{
    @apply .text-black .rounded .text-center .mx-1;
}

a {
    @apply .no-underline;
}

code{
    @apply bg-grey-darkest text-teal-light;
}

article .image{
    @apply mx-auto;
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 1024px;
    background: transparent no-repeat center center;
    background-size: cover;
    z-index: 2;
    padding-top: 42%;
}



nav{
    z-index: 3;
}

.body{
    @apply .mx-3 .p-4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 21px;
    line-height: 32px;
    position: relative;
    z-index: 1;
    overflow-wrap: break-word;
}

.title{
    z-index: 1;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    @apply .mx-3;
}
.title h3 a{
    @apply .text-grey-dark .no-underline;
}

article header{

}

.body h1{
    @apply .text-4xl .font-normal .leading-tight;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    margin-bottom: 0.5em;
}

.body h1,.body h2,.body h3,.body h4{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.body h2{
    @apply .text-3xl .font-normal .leading-tight;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    margin-bottom: 0.5em;
}



.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
