<template>
    <div class="float-right ml-1">
        <!--Test-->
        <div>
            <button class=" h-8 w-8" v-on:click="buttonClicked">
                <img v-if="loggedIn" :src="this.user.profile_image" class="profile-image"/>
                <i v-else class="fa fa-2x fa-grin-beam"/>
            </button>
        </div>

        <template v-if="loggedIn">
            <div v-if="clicked" class="w-auto absolute mt-1 bg-white rounded z-10">
                <div class=" text-xl text-center ">
                    <a :href="this.user.username">
                        <div class="hover:bg-grey-light">Profile</div>
                    </a>
                    <div class="border-grey-dark border-b-2 mt-1"></div>
                    <a href="/logout">
                        <div class="hover:bg-grey-light mt-1">Logout</div>
                    </a>
                </div>
            </div>
        </template>
        <template v-else>
            <div v-if="clicked" class="w-auto absolute mt-1 bg-white rounded z-10">
                <div class=" text-xl text-center ">
                    <a href="/login">
                        <div class="hover:bg-grey-light">Login</div>
                    </a>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "NavBarAccountComponent",
        props: {
            user: {
                Type: Object,
                default: null
            }
        },
        data() {
            return {
                clicked: false,
                loggedIn: false
            }
        },
        created() {
            this.loggedIn = !(user == null);

            if (this.loggedIn){
                this.user = user;
            }
        },

        methods: {
            buttonClicked: function (type) {
                this.clicked = !this.clicked;
            },
            parseData(data) {
                this.user = JSON.parse(data);
            }
        }
    }
</script>

<style scoped>

</style>