<template>
    <div>
    <div class="flex flex-row items-center mb-4 text-center justify-center md:w-full mt-2">
        <a class="no-underline" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"><button class="block bg-yellow hover:bg-yellow-dark text-black uppercase text-lg mx-2 p-4 rounded" type="button">Markdown</button></a>

        <button class="block bg-green hover:bg-green-dark text-white uppercase text-lg mx-2 p-4 rounded" type="submit">Update</button>
    </div>

    <div class="field-group mb-4">
        <label class="field-label" for="title">Title</label>
        <input class="field" type="text" v-model="title" name="post[title]" id="title" autocomplete="off" required>
    </div>
    <div class="field-group mb-4">
        <label class="field-label" for="tags">Tags<small class="text-sm"> (Limit of 4)</small></label>
        <input class="field" v-model="tags" id="tags" type="text" name="post[tags]" autocomplete="off" >
    </div>
    <br>
    <br>
    <div class="field-group mb-4">
        <label class="field-label" for="body">Body</label>
        <textarea class="field" v-model="body" name="post[body]" id="body" rows="24" autocomplete="off"  required></textarea>
    </div>
    </div>
</template>

<script>
    export default {
        name: "PostEditor",
        props: {
            post: {
                Type: Object,
                default: null
            }
        },
        data(){
            return {
                body: "",
                title: "",
                cover_image:"",
                tags: "",


            }
        },
        created() {
            if (this.post != null){
                this.title = this.post.title;
                this.body = this.post.body_markdown;

                this.tags = this.post.tags.join(", ");
            }
        },

        methods: {
            buttonClicked: function (type) {
                this.clicked = !this.clicked;
            },
            parseData(data) {
                this.post = JSON.parse(data);
            }
        }
    }
</script>

<style scoped>

</style>