<template>
    <div>
        <div class="mb-4 mt-4 flex flex-row justify-center  mx-auto float-none">
            <div class="p-2" v-bind:class="{ active: filter=='recent' }"><a class="timeline-button" v-on:click="changeTimeFrame('recent')">Recent</a></div>
            <div class="p-2" v-bind:class="{ active: filter=='day' }"><a class="timeline-button" v-on:click="changeTimeFrame('day')">Day</a></div>
            <div class="p-2" v-bind:class="{ active: filter=='week' }"><a class="timeline-button" v-on:click="changeTimeFrame('week')">Week</a></div>
            <div class="p-2" v-bind:class="{ active: filter=='month' }"><a class="timeline-button" v-on:click="changeTimeFrame('month')">Month</a></div>
            <div class="p-2" v-bind:class="{ active: filter=='year' }"><a class="timeline-button" v-on:click="changeTimeFrame('year')">Year</a></div>
            <div class="p-2" v-bind:class="{ active: filter=='all' }"><a class="timeline-button" v-on:click="changeTimeFrame('all')">All</a></div>
        </div>
    <div class="mb-4" v-for="post in posts">
        <div class="panel overflow-hidden items-center">
            <div class="p-2 md:px-4 md:pt-6">
                <img class="w-12 h-12 rounded-full mr-4 float-left " :src=post.user.profile_image >

                <div class="px-12 text-left ml-4">
                    <a :href="post.url">
                    <p class="text-lg md:text-2xl text-black font-semibold">{{post.title}}</p>
                </a>
                <a :href="post.user.url">
                    <span class="text-sm py-1 float-left hover:underline hover:text-grey-light">
                        <p class="text-black float-left inline-block">{{post.user.name}}</p>
                        <p class="text-grey-dark float-left">&nbsp;◆&nbsp;{{post.date}}</p>
                    </span>
                </a>
                    <br>
                    <span class="text-sm block flex flex-row justify-start my-2">
                        <a v-for="tag in post.tags" :href="'/t/'+tag.name" class="text-black rounded text-center mx-1">#{{tag.name}}</a>
                    </span>
                </div>
            </div>
            <br>
            <a :href="post.url">
            <div class="flex flex-row text-sm  px-4 justify-start mb-2">
                <div class="text-grey-dark text-left hover:bg-grey-light py-1 px-2"><img class="h-4 w-4" src="/images/heart.png"/><span class="">{{post.hearts}}</span></div>
                <div class="ml-2 text-grey-dark text-left hover:bg-grey-light py-1 px-2"><i class="fa fa-comments" aria-hidden="true"></i> {{post.comments}}</div>

            </div>
            </a>

        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "PostCards",
        props: ["tag"],

        data(){
            return {
                posts: [],
                current_page: 0,
                next_page: 1,
                lastPage: false,
                bottom: false,
                endpoint: '/api/posts',
                filter: "recent",
            }
        },

        created(){
            this.fetch();
            console.log(this.filterTag);
            window.addEventListener('scroll', () => {
                this.bottom = this.bottomVisible()
            })
        },
        methods: {
            fetch() {
                axios.get(this.endpoint, {
                    params: {
                        page: this.next_page,
                        tag:this.tag,
                        filter: this.filter


                    }
                }).then(({data}) => {

                        if (this.page === 1){
                            this.posts = data.data;
                        }else{
                            this.posts.push(...data.data);
                        }

                        if (this.page < data.meta.last_page){
                            this.page++;
                        }else{
                            this.lastPage = true;
                        }

                    });
            },
            bottomVisible() {
                const scrollY = window.scrollY
                const visible = document.documentElement.clientHeight
                const pageHeight = document.documentElement.scrollHeight
                const bottomOfPage = visible + scrollY >= pageHeight - 75;
                return bottomOfPage || pageHeight < visible
            },
            changeTimeFrame(value = "day"){
                this.filter = value;
                this.page = 1;
                this.posts = [];
                this.fetch();
            }
        },
        watch: {
            bottom(bottom) {
                if (bottom && !this.lastPage) {
                    this.fetch()
                }
            }
        }

    }
</script>

<style scoped>

</style>