<template>
    <div>
        <div class="w-full">
            <div class="flex flex-row bg-grey-darkest border-teal px-12 py-4 border-t-2 border-b-2 text-center justify-center">
                <button v-on:click="reactButtonClicked('heart')" v-bind:class="[ heartedPost ? 'heart-active':'heart-inactive'  ]" data-type="heart"  class="reactButton  w-1/3 sm:1/6"><img v-bind:class="[ heartedPost ? 'heart-bounce': '' ]" class="align-middle mr-2 mx-auto"  src="/images/heart.png"/><span class="inline-block text-xl font-bold ml-2" id="react-number-heart">{{hearts}}</span>
                </button>
                <button class="ml-4 reactButton  w-1/3 sm:1/6 bg-blue-light">
                    <a target="_blank" class="text-white"
                       :href="'https://twitter.com/intent/tweet?url='+url"
                       data-size="large" :url="url">
                    <i class="fab  fa-twitter"></i><span class="hidden sm:inline-block sm:ml-2">Share</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReactionBarComponent",
        props: ['source_id'],
        data() {
            return {
                userReactions: {},
                endpoint: '/reactions',
                heartedPost: false,
                hearts: 0,
                url: ""

            }
        },
        created() {
            this.url = window.location;
            axios.get(this.endpoint, {
                params: {
                    source: "post",
                    source_id:this.source_id

                }
            }).then((response) => {
                    let reaction_counts = response.data.post_reactions_count;
                    reaction_counts.forEach((item)=>{
                        if(item.type==="heart"){
                            this.hearts = item.count;
                        }
                    });
                    response.data.user.forEach((item)=>{
                        if (item.type==="heart") {
                            this.heartedPost = true;
                        }

                    });
                })
        },
        methods: {
            reactButtonClicked: function(type) {
                    this.heartedPost = !this.heartedPost;

                axios.post(this.endpoint, {
                        source: "post",
                        source_id:this.source_id,
                        type:type
                }).then((response) => {
                    if (response.data.type==="heart") {
                        if (response.data.result === "create"){
                            this.heartedPost = true;
                            this.hearts++;
                        }else{
                            this.heartedPost = false;
                            this.hearts--;
                        }

                    }
                });
            }
        }
    }
</script>

<style scoped>
    .heart-active {
        animation: fade-heart .5s;
        animation-fill-mode: forwards;
    }


    .heart-inactive:hover img{
        animation: pulse-heart .5s;
        animation-iteration-count:infinite;

    }

    .heart-bounce {
        animation: bounce-in .5s;
        animation-fill-mode: forwards;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);

        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes fade-heart {
        0% {
            @apply bg-blue-lightest;
        }
        50% {

        }
        100% {

            @apply bg-red;
        }
    }
    @keyframes pulse-heart {
        0% {
            transform: scale(1);

        }
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
</style>