<template>
    <div>
        <div class="panel text-center p-4">
            <h2 class="w-full border-b-2 border-grey-dark mb-2">Recent Posts</h2>
            <div class="w-full">This is a community website for game developers, artists, and anyone interested in video
                game creation. Please don't stare at the bugs directly, the site is still in beta. 👾
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RecentPostsComponent"
    }
</script>

<style scoped>

</style>